<p id="notice"><%= notice %></p>
<h1>Sign in</h1>

<div class="col-md-10">
  <div class="form-inline">
    <%= form_tag session_path do %>
        <label>username</label>
          <%= text_field_tag :username, params[:username], class:'form-control' %>
        <label>password</label>
          <%= password_field_tag :password, params[:password], class:'form-control' %>
        <%= submit_tag "Log in", class:'btn btn-primary' %>
    <% end %>
  </div>
</div>
