<div class="col-md-12">
<div class="col-md-5"><h2><%= @user.username %></h2></div>
<div class="col-md-5 top-margin">
  <% if @user.admin %><div class="label label-info">admin</div><% end %>
  <% if current_user.admin and @user.suspended %>
    <div class="label label-warning">account frozen</div>
  <% end %>
</div>
</div>

<% if !@user.ratings.empty? %>
  <p>Has made <%= pluralize @user.ratings.count, 'rating', 'ratings' %>, average <%= round @user.average_rating %></p>

  <p>Favorite beer style is <strong><%= @user.favorite_style %></strong> 
  and brewery <strong><%= @user.favorite_brewery %></strong></p>
<% end %>

<% if !@user.memberships.empty? %>
  <p>Member of 
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, club %>
  <% end %></p>
<% end %>

<p><strong>Ratings:</strong></p>
<% if @user.ratings.empty? %><p>No ratings yet!</p><% end %>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating %>
    <% if @user == current_user %>
      <%= link_to 'delete', rating, method: :delete, data: { confirm: 'are you sure?' } %>
    <% end %></li>
  <% end %>
</ul>



<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Destroy account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> 
<% end %>
<% if current_user.admin %>
  <% link_text = @user.suspended ? 'Reactivate account' : 'Freeze account' %>
  <%= link_to link_text, toggle_suspend_user_path(@user), method: :post, class: 'btn btn-danger' %>
<% end %>
