<h2><%= @user.username %></h2>

<% if !@user.ratings.empty? %>
    <p>Has made <%= pluralize @user.ratings.count, 'rating', 'ratings' %>, average <%= round @user.average_rating %></p>

    <p>Favorite beer style is <strong><%= @user.favorite_style %></strong> 
    and brewery <strong><%= @user.favorite_brewery %></strong></p>
<% end %>

<% if !@user.memberships.empty? %>
    <p>Member of 
    <% @user.beer_clubs.each do |club| %>
        <%= link_to club.name, club %>
    <% end %></p>
<% end %>

<p><strong>Ratings:</strong></p>
<% if @user.ratings.empty? %><p>No ratings yet!</p><% end %>
<ul>
    <% @user.ratings.each do |rating| %>
        <li><%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'are you sure?' } %>
        <% end %></li>
    <% end %>
</ul>



<% if @user == current_user %>
    <%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-primary' %>
    <%= link_to 'Destroy account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %> 
<% end %>
