<h2>Listing Ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<div class="col-md-10">
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
      <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer.name %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New rating', new_rating_path, class: 'btn btn-primary' if current_user %>
</div>
