<h2>Create new rating</h2>

<%= form_for(@rating) do |f| %>
    <% if @rating.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@rating.errors.count, "error") %>
            prohibited rating from being saved:</h3>
            <ul>
                <% @rating.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="col-md-12">
    <div class="form-inline">
      <label>beer:</label> <%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s, selected: @rating.beer_id), {}, {class:'form-control'} %>
      <label>score:</label> <%= f.number_field :score, class:'form-control' %>
      <%= f.submit 'Create Rating', class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
