<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h3>

      <ul>
        <% @beer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>
      <%= f.label :style_id %>
      <%= f.select :style_id, options_from_collection_for_select(@styles, :id, :name, selected: @beer.style), {}, {class:'form-control'} %>
      <%= f.label :brewery_id %>
      <%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name, selected: @beer.brewery_id), {}, {class:'form-control'} %>
    </div>
      <%= f.submit 'Create Beer', class:'btn btn-primary' %>
  </div>
<% end %>
