<p id="notice"><%= notice %></p>

<h1>Beer places search</h1>

<div class="col-md-12">
    <div class="form-inline">
    <%= form_tag places_path do %>
    <label>City</label>
    <%= text_field_tag :city, params[:city], class:'form-control' %>
    <%= submit_tag "Search", class:'btn btn-primary' %>
    <% end %>
    </div>

    <% if @places %>
    <table class="table table-condensed table-hover">
        <thead>
            <th>Page</th>
            <% Place.rendered_fields.each do |f| %>
                <th><%= f %></th>
            <% end %>
        </thead>
        <% @places.each do |place| %>
            <tr>
                <td><%= link_to place.name, place_path(place.id) %></td>
                <% Place.rendered_fields.each do |f| %>
                    <td><%= place.send(f) %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
<% end %>
</div>
